<header class="page-header">
    <div class="page-header__inner">
        <h1 class="logo page-header__logo">CAER Project<span>Making more todays</span></h1>
        <nav class="nav page-header__nav">
            <a class="page-header__nav-link">Home</a>
            <a class="page-header__nav-link" href="#">About Us</a>
            <a class="page-header__nav-link" href="#">Events</a>
            <a class="page-header__nav-link" href="#">Blog</a>
            <a class="page-header__nav-link" href="#">Black Businesses</a>
            <a class="page-header__nav-link" href="#">Petition/Donate</a>
            <a class="page-header__nav-link" href="#">Allies</a>
            <a class="page-header__nav-link" href="#">Contact Us</a>
        </nav>
    </div>
</header>